<!DOCTYPE html>
<html>
	<head>
		<title>New message</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h2>New message</h2>
		<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
		<h2><strong>THERES AN ERROR!!!</strong></h2>
		<% for( let index = 0; index < errors.length; index++ ) { %>
		<p><%= errors[index].msg %></p>
		<% } %> <% } %>
		<form method="POST">
			<label for="title">Title</label>
			<input type="text" name="title" />
			<label for="message">Message</label>
			<textarea name="message" id="message" cols="30" rows="10"></textarea>
			<button type="submit">Create message</button>
		</form>
	</body>
</html>
